{% extends "snippets/02_passenger/page-template.html" %}
{% block content %}
    {% load static %}{% load mathfilters %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">    <link rel="stylesheet" href = "{% static 'css/page_container.css'%}" >
    <link rel="stylesheet" href = "{% static 'css/passenger/01_01_ridedetails.css'%}" >
    <div class="form-2nd-cont" style="text-align: center;">
        <div class="headrow">
            <div class="col left_side">
                
            </div>
            <div class="col right_side">
                <a href="{% url 'TripComfirmation'%}" >Trip Comfirmation</a>
            </div>
            
        </div>
        <form class="page-group" method="POST" action="">
            {% csrf_token %}
            <fieldset>       
                <div class="row">
                    {%if position.0 == "approved" %}
                        <div class="column left">
                            Request {{details.1}}
                            Driver: 
                            Date:
                            Time:
                        </div>
                        <div class="column right">
                            Approved
                            {{details.0}}
                            {{details.2}}
                            {{details.3}}
                        </div>                           
                    {%elif position.0 == "denied"%}
                        <div class="column left">
                            Request {{details.1}}
                            Driver: 
                            Date:
                            Time:
                        </div>
                        <div class="column right">
                            Denied
                            {{details.0}}
                            {{details.2}}
                            {{details.3}}
                        </div>        
                    {%else%}
                        <div class="column left">
                            Request {{details.1}}
                        </div>
                        <div class="column right">
                            Awaiting Comfirmation
                        </div>        
                    {%endif%}
                </div>
            </fieldset>
            {% for message in messages %}
                <p style="color: red;" id="messages">{{message}}</p>
            {%endfor%}
            <div class="button_container" style="top: 230px; text-align:left">
                <i style="font-size:24px" class="fa">&#xf095;</i> Dial 0303 for Assistance	
            </div>    
        </form> 
    </div>

{% endblock content %}

