<!DOCTYPE html>
{% load static %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href = "{% static 'css/login_create_account/login_driver.css'%}" >

<body class="body-log">
    <div class="web-container" >
        
		<form method="POST" action="">
				{% csrf_token %}
				<!--{% csrf_token %}--> <!--Handling CSRF error-->
                <div style="left:10px; width:30px;">
                    <a style="color:#36AE7C" href="{% url 'home' %}"><i class="fa fa-arrow-left"></i></a>
                </div>
                <h2> DRIVER LOGIN</h2>
                <!--
                <button name="Abutton1">button</button>
                <button name="Abutton1">button</button> -->
                <input id="tab-phn-n" type="radio" name="tab" class="email-phn email" checked><label for="tab-phn-n" class="tab">Email</label>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <input id="tab-email" type="radio" name="tab" class="email-phn phone-nb"><label for="tab-email" class="tab">Phone number</label>        
		        <div class="login-form">
			        <div class="tab-htm email-htm">
				        <div class="details">
					        <label for="user">USERNAME</label>
					        <input id="user" type="text" name="username" placeholder="Username..."><br>
					        <label for="pass">PASSWORD</label>
					        <input id="pass" type="password" data-type="password" name="password" placeholder="Password...">
				        </div>
			        </div>
			        <div class="tab-htm phone-nb-htm">
				        <div class="details">
					        <label for="user">PHONE NUMBER</label>
					        <input id="user" type="text" name="dr_phonen" placeholder="Phone number..."><br>
					        <label for="pass">PASSWORD</label>
					        <input id="pass" type="password" data-type="password" name="dr_password" placeholder="Password...">
				        </div>
			        </div>

			        <div style="top:150px; position:relative">
	                    <div>
				            <input id="check" type="checkbox">
				            <label for="check"> Keep me Signed in</label>
							{% csrf_token %}
							<input type="submit" name="LOGIN">{% csrf_token %}
			            </div>
			            <div style="background-color: purple; text-align: center;" >
				            <a href="{% url 'driver_homepage' %}"  style="text-align: center;">
								<div class="button" >
									<div>Login</div>
								</div>
							</a>
				        </div>
						{% for message in messages %}
						    <p id="messages">{{message}}</p>
						{%endfor%}
	                    <p><a href="{% url 'CreateAccount_Driverpart1' %}" >Create Account</a></p>
                        <p><a href="" >Forgot password?</a></p>
                        <p><a href="" >Help?</a></p>
	                </div> 
		        </div>  
	        </form>  
	</div>
</body>

