<!DOCTYPE html>
{% load static %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{% static 'css/login_create_account/login_passenger.css' %}" >
<body>
    <div class="web-container" >
        <div style="left:10px; width:30px;">
            <a style="color:#36AE7C" href="{% url 'home' %}"><i class="fa fa-arrow-left"></i></a>
        </div>
            <form method="post" action=""class="login-page" > 
                <p>LOGIN</p>
                <div class="content" >
                    <a href=""><button name="Passenger" class="btn">Email</button></a>
	                <a style="color: transparent;">m</a>
                    <a href=""><button name="Driver" class="btn"> Phone number</button></a>
                </div>
                <div class="content" style="text-align:left;
                padding-bottom: 10%;padding-top: 10%;">
                    PHONE NUMBER
                    <input name="Text1" type="text" name="pas_phonen"/>
                    <p></p>
                    PASSWORD
                    <input name="Password1" type="password" name="pas_password"/>
                </div>
                <a href="{% url 'passenger_homepage' %}"  style="text-align: center;">
                    <div class="button" >
                        <div>Login</div>
                    </div>
                </a>
                <a href=""><button name="Driver"> LOGIN</button></a>
                <div class="content">
                    <p><a href="{% url 'CreateAccount_Passenger' %}" >Create Account</a></p>
                    <p><a href="" >Forgot password?</a></p>
                    <p><a href="" >Help?</a></p>
                </div>
            </form>
	</div>
</body>

