{% extends "snippets/createaccount/Createaccount-template.html" %}
{% block content %}
    {% load static %}
    <link rel="stylesheet" href = "{% static 'css/login_create_account/create_acc.css'%}" >
    <form method="POST" action="">
        {% csrf_token %}
        <div class="nav">
            <a href="{% url 'driver_login' %}" class="left_side"><i class="fa fa-arrow-left">-</i></a>
            <h2 class="right_side"> CREATE ACCOUNT</h2>  
        </div> 
		<div class="create-acc-form">
            Already have an account? <a href="{%url 'driver_login'%}">Login</a>
			<div class="details" >
                <div class="item">
                    <label for="user">Username *</label>
			        <input id="user" type="text" name="dr_username"><br>
                </div>
                <div class="item">
                    <label for="user">First Name *</label>
			        <input id="user" type="text" name="dr_firstname"><br>
                </div>
                <div class="item">
                    <label for="user">Last Name *</label>
			        <input id="user" type="text"  name="dr_lastname"><br>
                </div>
                <div class="item">
                    <label for="user">Email *</label>
	    	        <input id="user" type="text"  name="dr_email"><br>
                </div>
                <div class="item">
                    <label for="user">Phone number *</label>
		    		<input id="user" type="text" name="dr_phonenumber"><br>
                </div>
                <div class="item">
                    <label for="user">Password *</label>
		    		<input id="user" type="password" name="dr_password1"><br>
                </div>
                <div class="item">
                    <label for="user">Comfirm password *</label>
    		        <input id="user" type="password" name="dr_password2"><br>
                </div>
			</div>
            <input type="submit" value="Next -->" class="button" name="Create Account"> 
            {% for message in messages %}
                <p id="messages">{{message}}</p>
            {%endfor%}
            {{form.errors}}

		</div>  
	</form>  
    <script>
        var form_fields = document.getElementsByTagName('input')
        form_fields['dr_username'].placeholder='Username...';
        form_fields['dr_firstname'].placeholder='First Name...';
        form_fields['dr_lastname'].placeholder='Last Name...';
        form_fields['dr_email'].placeholder='Email...';
        form_fields['dr_phonenumber'].placeholder='Phone Number...';
        form_fields['dr_password1'].placeholder='Enter password...';
        form_fields['dr_password2'].placeholder='Comfirm password...';
        for(var field in form_fields){
            form_fields[field].className == 'form-control'
        }
    </script>
{% endblock content %}

