{% extends "snippets/02_driver/01_requests/01_00request.html" %}
{% block anothercontent %}
    {% load static %}{% load mathfilters %}

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">    
    <link rel="stylesheet" href = "{% static 'css/page_container.css'%}" >
    <link rel="stylesheet" href = "{% static 'css/driver/01_01activerequests.css'%}" >

    <form name="active_requests" method="get" id="active_requests" >
        {%csrf_token%}
        {% if n_pending_requests > 0 %}
            {% for request in pending_dr_requests %}

                <div class="roww">   
                    <div class="column left">
                        <i class="material-icons">&#xe7fd;</i>
                        <!--{{pending_dr_requests.0.ride_id}}.-->
                        {{pending_dr_requests.0.username}}
                        
                    </div>
                    <div class="column middle"> 
                        <select name="id" style="display:none; visibility:hidden;">
                            <option>{{pending_dr_requests.0.ride_id}}</option>
                        </select>
                        {{pending_dr_requests.0.current_area}}
                        ({{pending_dr_requests.0.current_stop}})<br>
                        <i class="material-icons">&#xeb3c;</i>
                        <i class="material-icons">&#xe5db;</i><br>
                        {{pending_dr_requests.0.destination_area}}
                        ({{pending_dr_requests.0.destination_stop}})
                    </div>
                    <div class="column right"> 
                        {{pending_dr_requests.0.d_time}}
                        <br>{{pending_dr_requests.0.d_date}}
                        <button type="checkbox" id="comfirm" name="comfirm" value="comfirm_p">Comfirm</button>
                        <button type="checkbox" id="decline" name="decline" value="decline_p">Decline</button>
                    </div>
                </div>
            {%endfor%}
        {% else %}
            <div style="color: rgb(29, 24, 24);">
                <br>
            There are currently no active requests to your ride
            </div>
        {%endif%} 
        <br>
        {% for message in messages %}
            <p style="color: red;" id="messages">{{message}}</p>
        {%endfor%}

    </form>

{% endblock anothercontent %}

