body{
    background-color: f2f2f2;
    margin: 0;
    padding: 0;}
:root{
    --header:#2A728F;
    --rbsi-background: rgb(23,118,107);
    --background-stories: rgb(97, 150, 144);}
.triangle-shape{ width:100%;background-size:cover; background-color:  transparent; border-top: 100px solid transparent; border-bottom: transparent;
border-right: 625px solid transparent ; border-left:625px solid transparent;grid-column: 1 / -1; }