@import url(css/template_homepage.css);
form .location{width: 90%;color: rgb(30, 29, 29,0.8);font-size: small;position: relative;left: 5%;}
form .details{height:30%; font-size: x-small;font-style: italic;}
form .details, form select{position: relative;top:5%}