<!DOCTYPE html>
<link rel="stylesheet" href="{% static 'css/base_css.css' %}" >
<link rel="stylesheet" href = "{% static 'css/Login-createacount-home.css'%}" >
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">

<body style="max-width: 300px;margin:auto;font-family: Arial, Helvetica, sans-serif;">
    <div class="web-container" >
        <h1 style="color:#36AE7C">Create Account</h1>
            <form method="post" action=""class="login-page" > 
                <div class="create account-form">
			        <div class="register-phn password-nb">
				        <div style="color: #36AE7C;margin-left: 55px;",class="details">
                            <br>
					        <label>Username</label>
					        <input  style="display: block;padding: 5px 0;border: 0;"id="user" placeholder="Sylvie@gmail.com" type="text">
                            <br>
                            <label>Full name</label>
                            <input style="display: block;padding: 5px 0;border: 0;"type="text" placeholder="Polie Vicia">
                             <br>
                            <label>Phone Number </label>
                            <input style="display: block;padding: 5px 0;border: 0;"type="number" placeholder="+25078-----">
                            <br>
					        <label>Password</label>
					        <input style="display: block;padding: 5px 0;border: 0;" type="password" placeholder="*********" required /> <i style="float: right;right: 150px; position: relative;margin: -25px;" class="far fa-eye" id="tooglePassword"></i>
                            <br>
                            <label>Confirm password </label>
                            <input style="display: block;padding: 5px 0;border: 0;border: 0;" type="password" placeholder="********"><i style="float: right;right: 150px; position: relative;margin: -25px;" class="far fa-eye" id="tooglePassword"></i>
                            <br>
                            <h5>Identification</h5>
                                <label>National ID </label>
                                <input style="display: block;padding: 5px 0;border: 0;"placeholder="1111 234 345 456" type="number"><br>
                                <br>
				        </div>
                            <div class="container">
                                <input style="display: flex;justify-content: center;padding: 16px;gap: 10px;width: 150px;height: 50px;background: #36AE7C;border-radius: 20px;flex: none;order: 0;flex-grow: 1;border: #36AE7C;margin-left: 50px;" type="button" onclick="window.location.href='passenger-login.html';" class="btn btn-warning btn-lg" value="Submit"/>
                            </div>
			        </div>
			    </div>
            </form>
	</div>
</body>

