{% load static %}
<style>
    .homepage{max-width: 300px;margin:auto;background-color: #C0C0C0; text-align: center;}
    .web-container{height: 520px;border-radius: 10px;background-color:white;color:#36AE7C; text-align:center}
    button {text-align: center; height:45px; width:200px; border-radius: 10px;color:white;font-weight: lighter;
       position: relative;top: 10%; bottom: 5px;background-color: #36AE7C;}
    form{text-align:center; position:relative; width:80%;left:10%; height:90%;top:5%}
    form button {text-align: center; height:45px; width:85%; border-radius: 10px;color:white;font-weight: bold;background-color: #36AE7C; border:none}
</style>
<body class="homepage">
    <div class="web-container">
        <nav>
            {% include 'snippets/driver/header.html' %}
        </nav>
        <div style="position:relative ;top:-440px;width:280px;left:10px; height:430px;color:#36AE7C">
            TRIP
            <div >
                <form method="post" action="">
                    <select name="Origin">
                        <option>Select current location</option>
                        <option>Remera/ Gisimenti bus stop</option>
                        <option>Remera/ National stadium</option>
                        <option>Remera/ Police station</option>
                        <option>Kimironko/ Simba supermarket</option>
                        <option>Kimironko markert Bus park</option>
                        <option>BK ATM</option>
                        <option>Prison - Nkubito DB</option>
                        <option>Kwa Mushimire Merez Petrl station </option>
                        <option>Kwa Ntayinzira bus stop</option>
                        <option>Azam Roundabout- Bus stop</option>
                        <option>Azam Roundabout- moto stop</option>
                        <option>Kimironko/ Azam bus stop</option>
                        <option>Kimironko/ ALU Entrance</option>
                        <option>Kimironko/ ALU Car park</option>
                    </select>
                    <label>Alpha</label>
<select class="browser-default" id="alpha">
  <option value="a,b,c">One</option>
  <option value="d">Two</option>
  <option value="e,f">Three</option>
</select>

<label>Beta</label>
<select class="browser-default" id="beta">
  <option value="a">First</option>
  <option value="b">Second</option>
  <option value="c">Third</option>
  <option value="d">Fourth</option>
  <option value="e">Fifth</option>
  <option value="f">Sixth</option>
</select>
                </form>

            </div>
        </div>
    </div>
</body>
