{% extends "snippets/createaccount/Createaccount-template.html" %}
{% block content %}
    {% load static %}
    <link rel="stylesheet" href = "{% static 'css/login_create_account/create_acc.css'%}" >
    <style>
        form .create-acc-form .select{width:100%}
    </style>
    <form method="POST" action="">
        {% csrf_token %}
        <div class="nav">
            <a href="{% url 'CreateAccount_Driverpart1' %}" class="left_side"><i class="fa fa-arrow-left">-</i></a>
            <h2 class="right_side"> CREATE ACCOUNT</h2>  
        </div> 
		<div class="create-acc-form">
			<div class="details" >
                <br>
                <div class="item">
                    <label for="user">Type of Identification *</label><br>
                    <select name="ID_Type">
                        <option value="0">ID Type:</option>
                        <option value="1">National ID</option><option value="2">Passport/Add the country</option>
                        <option value="3">Driving License</option>
                    </select>
                    <label for="user">Identification *</label>
                    <input id="user" type="text" name="identification"><br>
                </div>
                <br><br><br>
                <label for="user">CAR DETAILS</label>
                <div class="item">
                    <label for="user">Type of car *</label><br>
                    <select name="car_type">
                        <option value="0">Select car:</option>
                        <option value="1">Audi</option><option value="2">BMW</option>
                        <option value="3">Citroen</option><option value="4">Ford</option>
                        <option value="5">Honda</option><option value="6">Jaguar</option>
                        <option value="7">Land Rover</option><option value="8">Mercedes</option>
                        <option value="9">Nissan</option><option value="10">Toyota</option>
                    </select>
                </div>
                <div class="item">
                    <label for="user">Car Plate * </label><br>
                    <input id="user" type="text" name="car_plate">
                </div>
                <div class="item">
                    <label for="user">Car color *</label>
                    <select name="car_color">
                        <option value="0">Select color:</option>
                        <option value="1">Brown</option><option value="2">Red</option>
                        <option value="3">Orange</option><option value="4">Yellow</option>
                        <option value="5">Green</option><option value="6">Blue</option>
                        <option value="7">Grey</option><option value="8">Purple</option>
                    </select>
                </div>
                <div class="item">
                    <label for="user">Extra Description</label><br>
                    <input id="user" type="text" name="car_descr" style="height:40px"><br>
                </div>
			</div>
            <br>
            <input type="submit" value="Register -->" class="button" name="Create Account" style="top:1000px"> 
            {% for message in messages %}
                <p id="messages">{{message}}</p>
            {%endfor%}
            {{form.errors}}

		</div>  
	</form>  
    <script>
        var form_fields = document.getElementsByTagName('input')
        form_fields['identification'].placeholder='ID ...';
        form_fields['car_plate'].placeholder='Car Plate...';
        form_fields['car_descr'].placeholder='Any description...';
        for(var field in form_fields){
            form_fields[field].className == 'form-control'
        }
    </script>
{% endblock content %}

