<!DOCTYPE html>
{% load static %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href = "{% static 'css/Login-createacount-home.css'%}" >
<body class="body-log">
    <div class="web-container" >
        
            <form method="post" action="">
                <div style="left:10px; width:30px;">
                    <a style="color:#36AE7C" href="{% url 'home' %}"><i class="fa fa-arrow-left"></i></a>
                </div>
                <h2> DRIVER LOGIN</h2>
                <!--
                <button name="Abutton1">button</button>
                <button name="Abutton1">button</button> -->
                <input id="tab-phn-n" type="radio" name="tab" class="email-phn email" checked><label for="tab-phn-n" class="tab">Email</label>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <input id="tab-email" type="radio" name="tab" class="email-phn phone-nb"><label for="tab-email" class="tab">Phone number</label>        
		        <div class="login-form">
			        <div class="tab-htm email-htm">
				        <div class="details">
					        <label for="user">USERNAME</label>
					        <input id="user" type="text"><br>
					        <label for="pass">PASSWORD</label>
					        <input id="pass" type="password" data-type="password">
				        </div>
			        </div>
			        <div class="tab-htm phone-nb-htm">
				        <div class="details">
					        <label for="user">PHONE NUMBER</label>
					        <input id="user" type="text"><br>
					        <label for="pass">PASSWORD</label>
					        <input id="pass" type="password" data-type="password">
				        </div>
			        </div>
			        <div style="top:150px; position:relative">
	                    <div>
				            <input id="check" type="checkbox">
				            <label for="check"> Keep me Signed in</label>
			            </div>
			            <div>
				            <a href="{% url 'driver_homepage' %}">
								<div class="button">
									<p>Login</p>
								</div>
							</a>

				        </div>
	                    <p><a href="" >Create Account</a></p>
                        <p><a href="" >Forgot password?</a></p>
                        <p><a href="" >Help?</a></p>
	                </div> 
		        </div>  
	        </form>  
	</div>
</body>

