<meta charset="utf-8">
<meta name="viewport" content="width = device-width, initial-scale = 1, shrink-to-fit = no">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% load static %}
<link rel="stylesheet" href="{% static 'css/header.css' %}" >
<nav class="navbar">
    <img class="logo" src="{% static 'images/RBIS-logo.png' %}">
    <img class="yellow-figure" src="{% static 'images/yellow.jpg'%}">
    <ul class="left-side">
        <li><a class="button" href="">Explore</a></li>
        <span class="dropdown" >
            <li class="dropbtn">
                <a class="button" href="">Data
                <i class="fa fa-caret-down"></i></a>
                <span class="dropdown-content">
                    <a href="#"> Source Reference</a>
                    <a href="#">Cite visits</a>
                </span>
            </li>
        </span>
        <li><a class="button" href="">News</a></li>
        <li><a class="button" href="">Docs</a></li>
        <span class="dropdown" >
            <li class="dropbtn">
                <a class="button" href="">About</a><i class="fa fa-caret-down"></i>
                <span class="dropdown-content"><a href="#"> Contact</a><a href="#">About us</a></span>
            </li>
        </span>
        <span class="dropdown" >
            <li class="dropbtn">
                <a class="button" href="">Discover</a><i class="fa fa-caret-down"></i>
                <span class="dropdown-content">
                    <a href="#"> Our Team</a><a href="#">CoEB</a>
                    <a href="#"> Herbarium</a><a href="#">University of Rwanda</a>
                </span>
            </li>
        </span>

    </ul>
    <ul class="right-side">
        <li><form action="/action_page.php" class="search">
            <input class="search-box" type="text" placeholder="Search.." name="search">
            <li><button type="submit">search</button></li>
            </form>
        </li>
        <input class="signup" name="SignUp" type="button" value="Sign Up">
        <input class="login" name="Login" type="button" value="Login">
        <li class="sidebar" >
            <ul>
                <li href="javascript:void(0);" class="icon1" onclick="sidebar_fn1()">
                    <i class="fa fa-bars" ></i>
                </li>
                <div id="webLinks">
                    <a href="#news">News</a>
                    <a href="#contact">Contact</a>
                    <a href="#about">About</a>
                </div>
                <li href="javascript:void(0);" class="icon2" onclick="sidebar_fn2()">
                    <i class="fa fa-bars" ></i>
                </li>
                <div id="other_links">
                    <a href="">Login</a><a href="">Signup</a>
                </div>
            </ul>
        </li>
    </ul>
    <script>
       function sidebar_fn1() {
           var x = document.getElementById("webLinks");
           if (x.style.display === "block") {x.style.display = "none";}
           else {x.style.display = "block";}}
        function sidebar_fn2() {
           var x = document.getElementById("other_links");
           if (x.style.display === "block") {x.style.display = "none";}
           else {x.style.display = "block";}}
    </script>
</nav>
