
form{text-align:center; position:relative; width:80%;left:10%; height:90%;top:3%}
form h2{font-size: large;}
form .create-acc-form{width:90%; position:relative; left:5%; top:0%}
form .create-acc-form .tab-htm{position:absolute;transform:rotateY(180deg);backface-visibility:hidden;transition:all .4s linear}
form .create-acc-form .details{width:195px; position:relative; left:5%;text-align:left}
form .create-acc-form .details input, form .create-acc-form .details select{display: block;border:none;border-radius: 5px;width: 98%;height: 22px;}
form .create-acc-form .details input{background-color: rgb(204, 255, 255,0.7);}
form .create-acc-form .details select{color:rgb(95, 91, 91)}
form .create-acc-form .details .item{height: 49px;}
form .create-acc-form .details .term_privacy{height:10px; width:110%; position: relative;left:-5%}
form .create-acc-form .details .term_privacy .left,
form .create-acc-form .details .term_privacy .right{width:100%}
form .create-acc-form .details .term_privacy .left{float: left;width: 90%}
form .create-acc-form .details .term_privacy .right{float: right;width: 8%;position:relative;right:2%;top:-20%;height:10px}
form .button {text-align:center ; height:45px; width:85%; border-radius: 10px;color:white;font-weight: bold;background-color: #36AE7C; border:none}
form .btn_div{position: relative; top:15px}
form .error{color: red}




.nav{display: flex;width: 100%;height:45px}
.nav .right_side, .nav .left_side{width: 100%;}
.nav .left_side{width: 0px;position: relative;position: relative;top:15px}
.nav .right_side{text-align: center;}
.nav a{color:black;}

select{width:100%; height:25px}